.ref-doc-container {
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  padding: 50px;
  background-color: #fff;
}
